body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 1200px;
}

main {
    width: 960px;
}
header {
    background-color: red;
    overflow: auto;
    padding: 0 50px 0 50px;
    margin: 0 0 20px 0;

}

header h1 {
    width: 300px;
    height: 72px;
    float: left;
    font-size: 25pt;
    background-color: green;


}

nav {
    padding: 20px;
    width: 270px;
    float: left;
    background-color: gray;



}
nav li {
    display: inline-block;
    padding: 0 15px 0 15px;
}

main {
    clear: both;
    margin: 0 50px 0 50px;
    width: 960px;

}

section {
    background-color: yellow;
    float: left;
    width: 650px;
    line-height: 25px;
    margin-bottom: 20px;
}

aside {
    background-color: pink;
    float: right;
    width: 270px;


}

aside li {
    display: inline-block;
}

h2 {


}

ul {

}

footer {
    clear: both;
    background-color: orange;
    padding: 30px;
    border-top: blue 10px solid;

}